# Understading the axis parameter

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/Iris.csv')

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   3            4.7           NaN            1.3           0.2  Iris-setosa
4   4            4.6           3.1            1.5           0.2  Iris-setosa

In [5]:
data.mean()

Id               75.019868
SepalLengthCm     5.835762
SepalWidthCm      3.054000
PetalLengthCm     3.742384
PetalWidthCm      1.192053
dtype: float64

In [6]:
data.mean(axis=0)

Id               75.019868
SepalLengthCm     5.835762
SepalWidthCm      3.054000
PetalLengthCm     3.742384
PetalWidthCm      1.192053
dtype: float64

In [8]:
data.mean(axis=1).head()

0    2.24
1    2.30
2    2.48
3    2.30
4    2.68
dtype: float64

In [6]:
data['mapped'] = data.Species.map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})

In [7]:
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,mapped
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,3,4.7,NaN,1.3,0.2,Iris-setosa,0
4,4,4.6,3.1,1.5,0.2,Iris-setosa,0